

  .forgot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 50px;
 
    /* background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }  

  .forgot h2{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .forgot form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .forgot input{
    width: 200%;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .forgot button{
    width: 200%;
    padding: 10px;
    background-color:rgb(41, 41, 255);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .lock-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: rgb(41, 41, 255);
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .lock-icon svg {
    font-size: 24px;
    color: white;
  }
   

  /* Responsive styles */

@media screen and (max-width: 768px) {
  .forgot {
    width: 90%;
    padding: 30px;
  }

  .forgot input {
    width: 100%;
  }

  .forgot button {
    width: 100%;
  }
}