/* .container {
    margin-top: 100px;
    height: 500px;
    border: 2px solid black;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border: 2px solid black;
    padding: 10px;
    gap: 10px;
} */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 50px;
 
    /* background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .signup {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 50px;
    /* background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .login-container .signup {
    display: flex;
  }
  
  .login h2,
  .signup h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .login form,
  .signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login input,
  .signup input {
    width: 180%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
   
  }
  
  .login button,
  .signup button {
    width: 180%;
    padding: 10px;
    background-color:rgb(41, 41, 255);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login .flip-button,
  .signup .flip-button {
    margin-top: 10px;
    color: rgb(41, 41, 255);
    text-decoration: underline;
    cursor: pointer;
  }

  .form-footer {
  display: flex;
  justify-content: space-around;
  width: 260%;
  margin-bottom: 10px;

}
.forgot-password {
  text-align: left;
  margin-top: 10px;
}
.forgot-password a {
    color: rgb(41, 41, 255);
}
.flip-button {
  text-align: right;
}

.lock-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: rgb(41, 41, 255);
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .lock-icon svg {
    font-size: 24px;
    color: white;
  }


  
  
  

  