.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.category-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.category-column {
  flex: 1;
  max-width: 400px;
  margin: 10px;
}

.category-card {
  position: relative;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.category-card h3 {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  padding: 5px;
  color: #fff;
  font-size: 20px;
}

.category-heading {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  color: rgb(25, 118, 210);
}
@media (max-width: 768px) {
  .category-column {
    max-width: 100%;
  }

  .category-card h3 {
    font-size: 16px;
  }
}
